footer {
    display: flex;
    padding: 40px;
    justify-content: space-evenly;
}
footer div#footer-link-txt a {
    text-decoration: none;
    color: rgb(114, 115, 116);
    margin: 18px;
    font-size: 17px;
}
footer div#footer-link-svg {
}
