body {
    direction: rtl;
    margin: 0;
}
button {
    border: none;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    height: 95px;
    padding: 0 10%;
    font-size: 18px;
    background-color: #fff;
}
header img {
    width: 90px;
    margin: 0 15px;
}
header nav a {
    line-height: 45px;
    margin: 25px 15px;
    text-decoration: none;
    color: #000;
}

section {
    display: flex;
}
section.gray {
    background-color: #f2f5f8;
}

section#intro {
    background-color: #21aa58;
    color: #fff;
}
section#intro div {
    height: 500px;
}
section#intro div#intro-content h1 {
    font-size: 42px;
}
section#intro div#intro-content p {
    font-size: 24px;
    padding-left: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
}
section#intro div#intro-content {
    width: 33%;
    padding-right: 15%;
    padding-left: 2%;
}
section#intro div#intro-content div form input {
    width: 300px;
    padding-top: 16px;
    border: none;
    border-bottom: solid 1px #fff;
    line-height: 32px;
    background: none;
    outline: none;
    color: aliceblue;
}
section#intro div#intro-content div form input :placeholder-shown {
    color: #fff;
}
section#intro div#intro-content div form span {
    color: #fff;
    width: 16px;
    height: 16px;
}
section#intro div#intro-content div#intro-button span button {
    background-color: #fff;
    width: 150px;
    height: 45px;
    border-radius: 8px;
    margin-right: 16px;
    font-size: 17px;
    color: #21aa58;
}
section#intro div#intro-content div#intro-button span button#application {
    background-color: #21aa58;
    width: 300px;
    height: 45px;
    border-radius: 8px;
    margin-top: 50px;
    font-size: 22px;
    color: #fff;
    border: 1px solid #fff;
}
section#intro div#intro-img {
    width: 50%;
    background-image: url("../img/intro_desktop.jpg");
    background-size: cover;
    background-position: center;
}

footer {
    height: 32px;
    padding: 40px 18%;
}
